
body {
    font-family: 'Poppins', sans-serif;
   margin: 0;
    
}
section {
    background-color: white;
}
.info {
    height: 100vh;
    background-color: #1c1c1c;
    color: white;
    font-size: 40px;
}

footer {
    /* removed height and added padding. */
    /* height: 500px; */
    background-color: black;
    color: white;
   text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    /* Push logo to the left and the ul on the right */
    justify-content: space-between;
}
.logo {
    height: 80px;
    margin: 30px;
}
ul {
   display: flex;
   list-style: none;
   width: 500px;
   justify-content: space-around;
   font-size: 30px;
}
/* Display the nav links when the hamburger is clicked. */
ul.show {
    display: block;
}
li {
    text-decoration: none;
    /* width: 200px; */
}
h1 {
    font-size: 90px;
    margin: 0;
}
h2{
    font-size: 50px;
}
p {
    margin: 0;
    font-size: 30px;
    font-weight: 300px;
}
.subtext {
    font-size: 15px;
    font-weight: 300;
}
.info-area {
    display: flex;
   /* Of the parent div */
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.info-text {
margin-left:80px ;
margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: rgb(207, 122, 92);
    text-align: center;
    font-size: 30px;
    font-weight:300;
    padding-top: 5px;
    margin-top: 20px; ;
}
.button:hover{
    background-color: rgb(142, 80, 57);
}
.button:active{
    background-color: #525050;
    color: #808080;
}
.socials {
    /* To align the links to the h1 and p elements */
    padding-bottom: 20px;

}

.sub-section {
    justify-content: space-around;
    display: flex;
    padding: 80px;
}

/* Center the cards sub-section-one */

.sub-section-one {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}
.social-link {
    margin: 20px;
    }

    #headshot {
        width: 300px;
        border-radius:0px 0px 0px 0px;
    }
    .headshot-container {
        display: flex;
        align-items: center;
    }
    .project-card {
        width: 300px;
        height: 500px;
        /* Removed the border and added a box shadow instead */
        box-shadow: 5px 5px 20px rgb(197, 195, 195);
        margin: 10px;

    }
    .project-container {
    display: flex;
    justify-content: space-around;
}
/* anything under or equal to 1000px will have different styling */
@media only screen and (max-width: 1000px){
.project-container {
    /* Allows items to stack */
    display: flex-wrap;
}
}
.project-image {
    margin-top: 25px;
    width: 200px;
    border-radius: 125px;
}
hr {
    margin-left: 20px;
    margin-right: 20px;
}

/* project link styling */
#project-link{
    text-decoration: none;
    color:rgb(207, 122, 92);
}
a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}
.hamburger:focus{
    outline: 0;
}

/* Make the hamburger visible if it's under a certain width */

@media only screen and (max-width:1000px){
    .hamburger {
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        display: block;
    }
    /* Hide the unordered list if the screen is under or equal to 1000px */
    ul{
        display: none;
    }
}